<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8">

<meta name="viewport"
   content="width=device-width, initial-scale=1">

<title>Photo Download</title>

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

```
<img src="/static/img/HMGC_Brand.jpg"
     class="logo">

<h1>Your Photo</h1>

<div class="gallery">

    <button id="prevBtn">
        ←
    </button>

    <img
        id="preview"
        class="preview"
        src="{{ photos[0] }}">

    <button id="nextBtn">
        →
    </button>

</div>

<div class="indicator">
    <span id="counter">
        1 / {{ photos|length }}
    </span>
</div>

<div class="button-group">

    <a href="{{ photo.photo_url }}"
       class="btn"
       download>
        Download Photo
    </a>

    <a href="{{ photo.strip_url }}"
       class="btn"
       download>
        Download Strip
    </a>

</div>

<div class="social">

    <a class="social-btn"
       href="https://www.facebook.com/sharer/sharer.php?u=https://pub-0dfaa927561b49c8a0b5b103428dd44c.r2.dev/2026/BS001/BS0010260530213226/result.jpg" target="_blank">
        Share Facebook
    </a>

    <a class="social-btn"
       href="https://social-plugins.line.me/lineit/share?url=https://pub-0dfaa927561b49c8a0b5b103428dd44c.r2.dev/2026/BS001/BS0010260530213226/result.jpg" target="_blank">
        Share LINE
    </a>

</div>

<div class="follow">

    <h3>Follow Us</h3>

    <a href="#">Facebook</a>
    <a href="#">Instagram</a>

</div>
```

</div>


<script>

const photos = {{ photos|tojson }};

</script>

<script src="/static/js/gallery.js"></script>

</body>
</html>
